.btn {
  .btn-text();
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: @basic-green;
  border: 0;

  &:hover {
    background-color: @special-darkgreen;
  }

  &:active {
    background-color: @special-darkgreen;
    color: rgba(255, 255, 255, 0.6);
  }
}
