.catalogue-title {
  .title-text();
  font-size: 36px;
  line-height: 40px;
  padding: 24px 20px 39px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 72px;
    padding: 28px 30px 77px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 40px 0 78px;
  }
}
