.product-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid @special-grey-1;
}

.product-item__image {
  display: block;
  position: relative;
  width: calc(50% - 20px);
  height: 112px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 14px;
}

.product-item__image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-item__text-container {
  width: calc(50% - 20px);
}

.product-item__btn {
  width: calc(100% - 40px);
  margin-left: 20px;
}

.product-item__title {
  .title-text-2();
  font-size: 16px;
  line-height: 20px;
}

.product-item__title a {
  text-decoration: none;
  color: #000000;
}

.product-item__features {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;
}

.product-item__features tbody {
  width: 100%;
}

.product-item__features tr {
  width: 100%;
}

.product-item__features td:nth-child(2) {
  text-align: right;
}

.product-item--more {
  flex-direction: column;
  text-align: center;
}

.product-item--more .product-item__title {
  position: relative;
  padding-top: 54px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 30px;
    transform: translateX(-1px);
    background-color: @special-grey-2;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 14px;
    width: 30px;
    height: 2px;
    transform: translateX(-15px);
    background-color: @special-grey-2;
  }

  &:hover,
  &:active {
    opacity: 0.6;
  }
}

.product-item__text {
  .common-text();
  padding: 5px 0 20px;
}
